<%- include('includes/head.ejs') %>

</head>
<body>
    <%- include('includes/navigation.ejs') %> 

    <main>
        <% if (prods.length > 0) {%>
            <!-- <% prods.foreach %> -->
            <% for (let product of prods) { %>
                <h2><%= product.title %></h2>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKOwTYEkz3T3MgVc2yotUHiJMel58Nihs_mQ&usqp=CAU" alt="a book">
                <p>a interesting book</p>
            <% } %>
        <% } else { %>
            <h2>No Products Found</h2>
        <% } %>
    </main>

<%- include('includes/end.ejs') %>
