extends layouts/main-layout.pug

block content
    main
        if prods.length > 0
            each product in prods
                h2 #{product.title}
                img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKOwTYEkz3T3MgVc2yotUHiJMel58Nihs_mQ&usqp=CAU", alt="a book")
                p A very interesting book
        else 
            h1 No Products

