
<main>
    {{#if hasProducts }}
        {{#each prods}}
            <h2>{{ this.title }}</h2>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKOwTYEkz3T3MgVc2yotUHiJMel58Nihs_mQ&usqp=CAU" alt="a book">
            <p>a interesting book</p>
        {{/each}}
    {{else }}
        <h2>No Products Found</h2>
    {{/if}}

</main>

