<header class="main-header">
    <nav  class="main-header-nav">
        <ul class="main-header-item-list">
            <li class="main-header-item"><a href="/users">Users</a></li>
            <li class="main-header-item"><a href="/">Add Users</a></li>
        </ul>
    </nav>
</header>
